openapi: 3.0.3
info:
  title: Hathora Cloud AppsV2 LogsV1 API
  description: Hathora Cloud is on-demand, globally distributed compute for multiplayer game servers. Use the Hathora Cloud API to manage applications, upload and run game server builds, configure deployments, launch and stop processes, create and manage rooms, discover ping endpoints, stream logs, read process metrics, and manage organization tokens and billing. Player-facing authentication issues short-lived player tokens for use with room and lobby endpoints.
  termsOfService: https://hathora.dev/terms-of-service
  contact:
    name: Hathora Support
    url: https://hathora.dev
    email: support@hathora.dev
  version: '3.0'
servers:
- url: https://api.hathora.dev
  description: Hathora Cloud production API
security:
- hathoraDevToken: []
tags:
- name: LogsV1
  description: Stream and download logs for processes.
paths:
  /logs/v1/{appId}/process/{processId}:
    get:
      operationId: GetLogsForProcess
      tags:
      - LogsV1
      summary: Returns a stream of logs for a process using appId and processId.
      parameters:
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/ProcessId'
      responses:
        '200':
          description: A stream of log lines.
          content:
            application/x-ndjson:
              schema:
                type: string
  /logs/v1/{appId}/process/{processId}/download:
    get:
      operationId: DownloadLogForProcess
      tags:
      - LogsV1
      summary: Download the log file for a stopped process.
      parameters:
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/ProcessId'
      responses:
        '200':
          description: Log file.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
components:
  parameters:
    AppId:
      name: appId
      in: path
      required: true
      description: The unique identifier for an application.
      schema:
        type: string
        example: app-af469a92-5b45-4565-b3c4-b79878de67d2
    ProcessId:
      name: processId
      in: path
      required: true
      schema:
        type: string
        example: cbfbb - 12345
  securitySchemes:
    hathoraDevToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Organization developer/API token used for management endpoints (apps, builds, deployments, processes, rooms, logs, metrics, billing, tokens).
    playerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Short-lived player token issued by the AuthV1 login endpoints, used by game clients for room and lobby operations.
